h1, h3, h4, h5, h6, p, a > h4 {
    font-family: 'PT Sans', sans-serif;
}
.navbar-nav li {
    padding-right: 60px;
    color: white !important;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
  }
.jumbotron {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #233237;
}
.header-text {
    color: white;
}
.pfp {
    display: block;
    box-sizing: border-box;
    background-color: rgb(65, 62, 62);
    border: 5px solid #3f4142;
}
.map-img {
    padding-top: 6rem;
}
.btn-info {
    margin-top: 1rem;
}
.btn-info:hover {
    animation: shake 0.6s infinite;
}
.btn-primary {
    margin-bottom: 2rem;
}
@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    75% { transform: rotate(2deg); }
    100% { transform: rotate(-1deg); }
}
.experience-info {
    padding-left: .2rem;
}
.nav-item {
    color: white;
    font-size: 1.5rem;
}
.nav-item:hover {
    color: grey;
    text-decoration: none;
}
.fa-python {
    color: #4B8BBE;
}
.fa-coffee {
    color: #f89820;
}
.fa-html5 {
    color: #e34c26;
}
.fa-css3-alt {
    color: #2D65EF;
}
.fa-js-square {
    color: #f7df1e;
}
.fa-gem {
    color: #cc0000;
}
.fa-comment-alt {
    color: #F12F45;
}
.fa-google {
    color: #4285F4;
}
.fa-server {
    color: #430596;
}
.fa-bold {
    color: #563D7B;
}
.fa-apple {
    color: #FD4E2C;
}

@keyframes spin { 
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
hr {
    border-top: 2px solid #b4b4b4;
    width: 75%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.title-desc {
    padding-bottom: 2rem;
}
.card {
    width: 30rem;
}
.card-featured:hover {
    animation: shadow 0.1s forwards;
}
@keyframes shadow  {
    0% { box-shadow: -1px 1px 0px 0px rgba(29, 130, 189, 0.75); }
    25% { box-shadow: -1px 3px 10px -3px rgba(29, 130, 189, 0.75); }
    50% { box-shadow: -1px 5px 20px -6px rgba(29, 130, 189, 0.75); }
    75% { box-shadow: -1px 7px 30px -9px rgba(29, 130, 189, 0.75); }
    100% { box-shadow: -1px 9px 40px -12px rgba(29, 130, 189, 0.75); }
}
.w-75 {
    max-height: 12rem;
    margin-top: 2rem;
    background-color: #233237;
}
.w-75:hover {
    box-shadow:
        2px 2px rgba(29, 130, 189, 0.75),
        3px 3px rgba(29, 130, 189, 0.75),
        4px 4px rgba(29, 130, 189, 0.75);
        transform: translateX(-3px);
}
.card-condensed-body > p, .card-condensed-body > h4 {
    color: white;
}
footer {
    background-color: #233237;
    color: #d5d5d5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.4rem;
}
.footer-text {
    font-size: 15px;
    padding-top: 10px;
}
.footer-text > a {
    float: right;
    color: white;
    padding-right: 2rem;
}
.footer-text > a:hover {
    color: grey;
}
.back-to-top {
    border: none;
    outline: none;
    background-color: #23323700;
    float: center;
}
.fa-chevron-up {
    color: white;
    float: center;
}
.page-container {
    position: relative;
    min-height: 100%;
}
.content-wrap {
    padding-bottom: 2.4rem;
}

@media (max-width: 176px) {
    .pfp {
        width: 20%;
    }
}

@media (max-width: 768px) {
    .pfp {
        width: 20%;
    }
}

@media (max-width: 992px) {
    .pfp {
        width: 20%;
    }
}

@media (max-width: 1200px) {
    .pfp {
        width: 20%;
    }
}